USE [FacultyManagement]
GO
/****** Object:  Table [dbo].[Data]    Script Date: 06-Apr-20 3:12:29 PM ******/
DROP TABLE [dbo].[Data]
GO
USE [master]
GO
/****** Object:  Database [FacultyManagement]    Script Date: 06-Apr-20 3:12:29 PM ******/
DROP DATABASE [FacultyManagement]
GO
/****** Object:  Database [FacultyManagement]    Script Date: 06-Apr-20 3:12:29 PM ******/
CREATE DATABASE [FacultyManagement]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FacultyManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FacultyManagement]
GO
/****** Object:  Table [dbo].[Data]    Script Date: 06-Apr-20 3:12:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Data](
	[id] [nchar](10) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Table] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Data] ([id], [name]) VALUES (N'123       ', N'thuww123333123')
USE [master]
GO
